/* Стили для класса .app */
.app {
  display: flex; /* Используем флекс-контейнер для управления расположением элементов */
  flex-direction: column; /* Выстраиваем элементы в столбец */
  align-items: center; /* Выравниваем элементы по центру по горизонтали */
  margin-top: 50px; /* Добавляем отступ сверху на 50 пикселей */
}

/* Стили для класса .controls */
.controls {
  display: flex; /* Используем флекс-контейнер для управления расположением элементов */
  flex-wrap: wrap; /* Если не хватает места, элементы будут переноситься на следующую строку */
  justify-content: center; /* Выравниваем элементы по центру по горизонтали */
  margin-bottom: 20px; /* Добавляем отступ снизу на 20 пикселей */
}

/* Стили для элемента label внутри класса .controls */
.controls label {
  display: flex; /* Используем флекс-контейнер для управления расположением элементов */
  flex-direction: column; /* Выстраиваем элементы в столбец */
  margin-right: 20px; /* Добавляем отступ справа на 20 пикселей */
}

/* Стили для элемента input с атрибутом type="number" внутри класса .controls */
.controls input[type='number'] {
  width: 60px; /* Задаем ширину поля ввода числа равную 60 пикселям */
}